<div class="container-fluid">
  <div class="welcome-page">

    <div class="row">
      <section class="banner">
        <div class="layer">
          <div class="text-wrapper">
            <h1>brewED</h1>
            <p>Track and Explore New Homebrews Today!</p>
            <%= link_to "Explore", recipes_path, class: "btn btn-default welcome-btn" %>
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="about">
        <div class="text-wrapper">
          <h1>THE CRAFT BEER REVOLUTION</h1>
          <p>It’s hard to imagine that there was a time where the only beer you could get was a Budweiser or a Coors. With over 3,000 breweries in the United States, the craft beer community continues to figuratively “boom”. in 2014, craft brewers produced over 22 million barrels of beer, which is an 18% increase in volume. Small and independent now command roughly 11% of the total beer market! It’s beautiful to see brewers collaborate to create new and exciting beers for the world to taste. There are limitless tastes and aromas to beer, and the journey to fully comprehending beer is never ending. That’s what <span class="orange">brewED</span> is about!</p>
          <p><span class="orange">brewED</span> is about bringing together brewers from all over the world in order to collaborate with one another to create amazing beers! Craft beer is an incredibly complex thing and we are all students. brewED was built to not only discover and share new beer recipes, but it was also developed to help one another understand the complexity and appreciate the beauty in brewing beer. So join the brewED community and myself, as we continue the never ending journey of exploring craft beer!</p>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="callout-row">
        <div class="layer">
          <div class="col-md-4 callouts">
            <h2>Grains</h2>
            <p>Grains are first of the four main ingredients that make up beer. Grains are responsible for providing the fermentable sugars in order to create alcohol. Grains also provide the strength and flavor of the beer. Grains come in different varieties and roasts, so they give off different flavor profiles. Popular grains used in beers are Barley, Wheat, and Rice </p>
          </div>
          <div class="col-md-4 callouts">
            <h2>Hops</h2>
            <p>Hops are added into beers as a bittering agent. They help balance out the sweetness from the grains. Hops provide a bitter taste as well as different forms of aroma. Hops can be added throughout the brewing process and they will change  your beer according to when they are added. Popular hops used in beers are Cascade, Simcoe, and Citra.</p>
          </div>
          <div class="col-md-4 callouts">
            <h2>Yeast</h2>
            <p>Yeast is the microorganism that is responsible for the fermentation of the beer. Yeast is used to metabolize the sugars extracted from the grains. The metabolized sugar will produce alcohol and carbon dioxide. There are many different types of yeast and each metobolize the sugar at a different rate. There are yeasts that ferment at a higher temperature, and yeasts that ferment at a lower temperature.</p>
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="quote">
        <p class="words">Give a man a beer, waste an hour. Teach a man to brew, and waste a lifetime!</p>
        <p class="author">Bill Owen</p>
      </section>
    </div>
    <div class="row">
      <section id="join-today">
        <p class="curious">Curious?</p>
        <p class="join">Come join us today at brewED and learn more about homebrew!</p>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default sign-up-btn" %>
      </section>
    </div>
  </div>
</div>