<div class="container-fluid">
  <div class="row">
    <div class="banner">
      <div class="layer">
        <div class="text-wrapper">
          <h1>brewED</h1>
          <p>Track and Explore New Homebrews Today!</p>
          <%= link_to "Explore", recipes_path, class: "btn btn-default welcome-btn" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="quote">
      <p class="words">Give a man a beer, waste an hour. Teach a man to brew, and waste a lifetime!</p>
      <p class="author">Bill Owen</p>
    </div>
  </div>
  <div class="row">
    <div class="callout-row">
      <div class="layer">
        <div class="col-md-4 col-xs-12 callouts">
          <h2>Grains</h2>
          <p>Grains are first of the four main ingredients that make up beer. Grains are responsible for providing the fermentable sugars in order to create alcohol. Grains also provide the strength and flavor of the beer. Grains come in different varieties and roasts, so they give off different flavor profiles. Popular grains used in beers are Barley, Wheat, and Rice </p>
        </div>
        <div class="col-md-4 col-xs-12 callouts">
          <h2>Hops</h2>
          <p>Hops are added into beers as a bittering agent. They help balance out the sweetness from the grains. Hops provide a bitter taste as well as different forms of aroma. Hops can be added throughout the brewing process and they will change  your beer according to when they are added. Popular hops used in beers are Cascade, Simcoe, and Citra.</p>
        </div>
        <div class="col-md-4 col-xs-12 callouts">
          <h2>Yeast</h2>
          <p>Yeast is the microorganism that is responsible for the fermentation of the beer. Yeast is used to metabolize the sugars extracted from the grains. The metabolized sugar will produce alcohol and carbon dioxide. There are many different types of yeast and each metobolize the sugar at a different rate. There are yeasts that ferment at a higher temperature, and yeasts that ferment at a lower temperature.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="join-today">
      <p class="curious">Curious?</p>
      <p class="join">Come join us today at brewED and learn more about homebrew!</p>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default sign-up-btn" %>
    </div>
  </div>
</div>