/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Comfortaa);

$dark_gray: #2B2E2E;
$orange: #FF9900;

h1, h2, h3, h4, h5, h6, p, a, .field {
  font-family: 'Comfortaa';
  color: $dark_gray;
}

.alert {
  margin: 0;
}

header {
  background: $orange;
  position: relative;
  padding: 1.5rem 5%;
  width: 100%;
  border-bottom: 5px solid $dark_gray;
  line-height: 5rem;
  #logo {
    img {
      width: 5rem;
    }
    font-weight: bold;
    font-size: 3rem;
    vertical-align: bottom;
    padding: 0;
    margin: 0;
    color: $dark_gray;
  }
  nav {
    float: right;
    a {
      padding-left: 3rem;
      font-weight: bold;
      font-size: 1.75rem;
      text-transform: uppercase;
      color: $dark_gray;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

// footer {
//   text-transform: uppercase;
//   background-color: $orange;
//   text-align: center;
//   font-weight: bold;
// }

// INDEX PAGE STYLES


.recipes {
  margin: 0 auto;
  width: 100%;
  .box {
    margin: 10px;
    width: 350px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 7px;
    text-align: center;
    // float: left;
    img {
      max-width: 100%;
      height: auto;
    }
    h2 {
      font-size: 22px;
      margin: 0;
      padding: 25px 10px;
      a {
        color: #474747;
      }
    }
    .user {
      font-size: 12px;
      border-top: 1px solid #EAEAEA;
      padding: 15px;
      margin: 0;
    }
  }
}
